.hero-section{
  position: relative;
  overflow: hidden;
}

.hero-section__circle-hero{
  position: absolute;
  inset-block-start: 37%;
  inset-inline-end: -30%;
}


.hero-section__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-section__container hgroup{
  order: 2;
}

.hero-section__container  img{
  border-radius: 4px;
}

.hero-section__hgroup{
  height: 264px;
  text-align: center;
}

.hero-section__hgroup h1 {
  position: absolute;
  top: 26%;
  color: var(--color-white);
  font-size: var(--paragraph-1);
}

.hero-section__hgroup h3{
  margin-top: 87px;
  color: var(--color-g1);
  font-size: var(--paragraph-3);
}

.digital{
  color:var(--color-pink);
}

.hr-hero{
  position: absolute;
  inset-block-end: 1%;
  inset-inline: 0;
  
}

@media screen and (min-width: 1024px){

  .hero-section__container{
    align-items: center;
  }

  .hero-section__hgroup{
    height: 366px;
    width: 528px;
    text-align: left;
  }

  .hero-section__hgroup h1 {
    position: absolute;
    width: 875px;
  }

  .hero-section__hgroup h3 {
    position: relative;
    margin-top: 247px;
  }

  
  .hero-section__container picture{
    order: 2;
  }

  .hero-section__circle-hero{
    inset-block-start: 67%;
    inset-inline:40%;

  }

}