*{
  box-sizing: content-box;
}

::after,::before{
  box-sizing: border-box;
}

body{
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0px;
  background-color: var(--color-g4);
}

ul,li{
  list-style-type: none;
}

img{
  max-width: 100%;
  height: auto;
}

button{
  border:none;
  background: none;
}

a{
  text-decoration: none;
}

hr{
  border:5px solid var(--color-white);
  color:var(--color-white);
}