---
import "./header.css";
---

<header class="header">
  <figure class="header-figure">
    <img src="/icons/Icon-principal.svg" alt="Lorem" />
    <figcaption class="header-figure__caption">
      <strong>Lorem</strong>
    </figcaption>
  </figure>

  <button class="header-hamburger">
    <img src="/icons/hamburger.svg" alt="hamburger" />
  </button>

  <nav class="header-nav">
    <button class="header-nav__clear">
      <img src="/icons/clear.svg" alt="clear" />
    </button>

    <menu class="header-nav__menu">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#quines-somos">Quienes somos</a></li>
      <li><a href="#servicios">Servicios</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </menu>
  </nav>
</header>
