.header{
  position: fixed;
  top:0;
  inset-inline: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding-inline: var(--padding-inline);
  z-index: 1;
  
}

.header-figure{
  display: flex;
  align-items: center;
  gap:18px;
}

.header-nav{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-g3);
  transform: translateX(100%);
}

.header-nav__clear{
  position: absolute;
  inset-block-start: 2%;
  inset-inline-end: 3%;
}

.header-nav__menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45vh;
  padding: 0;
}

.header-nav__menu li a{
  color:var(--color-white);
  transition: color var(--translate-menu);
}

.header-nav__menu li a:hover{
  color:var(--color-yellow);
}


.header-figure{
  margin:0;
}

.header-figure__caption strong{
  color:var(--color-white);
  font-size: var(--paragraph-3);
}

@media screen and (min-width: 948px){
  
  .header-hamburger{
    display:none
  }

  .header-nav{
    position: relative;
    height: 56px;
    width: 693px;
    background-color: transparent;
    transform: translateX(0%);
  }

  .header-nav__menu{
    flex-direction: row;
    height: inherit;
    gap: 105px;
  }

  .header-nav__clear{
    display: none;
  }
}