<footer id="contacto">
  <div>
    <h2>Contacto</h2>
  </div>

  <div>
    <figure>
      <picture>
        <source media="(min-width: 930px)" srcset="/icons/phone-desktop.svg" />
        <img src="/icons/phone-movil.svg" alt="phone" />
      </picture>

      <figcaption>Cel: 1159236366</figcaption>
    </figure>

    <figure>
      <picture>
        <source
          media="(min-width: 930px)"
          srcset="/icons/location-desktop.svg"
        />
        <img src="/icons/location-movil.svg" alt="location" />
      </picture>

      <figcaption>Ubicacion:Calle falsa 123</figcaption>
    </figure>

    <figure>
      <picture>
        <source media="(min-width: 930px)" srcset="/icons/email-desktop.svg" />
        <img src="/icons/email-movil.svg" alt="email" />
      </picture>

      <figcaption>Cel: 1159236366</figcaption>
    </figure>

    <figure>
      <picture>
        <source media="(min-width: 930px)" srcset="/icons/phone-desktop.svg" />
        <img src="/icons/phone-movil.svg" alt="phone" />
      </picture>

      <figcaption>Email:empresa@gmail.com</figcaption>
    </figure>
  </div>

  <picture>
    <source
      media="(min-width: 930px)"
      srcset="/icons/circle-footer-desktop.svg"
    />
    <img src="/icons/circle-footer-movil.svg" alt="circle-footer" />
  </picture>

  <p>© 2025 IT CONSULTORA</p>
</footer>
